{

	log {
		format console
	}

}

http://jellyseerr.homelab.tuyens.net:80 {
	reverse_proxy host.docker.internal:5055
}

http://qbittorrent.homelab.tuyens.net:80 {
	reverse_proxy host.docker.internal:8080
}

http://prowlarr.homelab.tuyens.net:80 {
	reverse_proxy prowlarr:9696
}

http://radarr.homelab.tuyens.net:80 {
	reverse_proxy radarr:7878
}

http://sonarr.homelab.tuyens.net:80 {
	reverse_proxy sonarr:8989
}

http://bazarr.homelab.tuyens.net:80 {
	reverse_proxy bazarr:6767
}

http://jellyfin.homelab.tuyens.net:80 {
	reverse_proxy jellyfin:8096
}

http://cleanuparr.homelab.tuyens.net:80 {
	reverse_proxy cleanuparr:11011
}

http://profilarr.homelab.tuyens.net:80 {
	reverse_proxy profilarr:6868
}

