services:
  caddy:
    container_name: caddy-reverse-proxy
    build:
      context: .
      dockerfile: ./Dockerfile
      network: host
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./conf:/etc/caddy
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:
