{
	email hntuyen282@gmail.com

	log {
		output file /etc/caddy/caddy.log
		format json
	}

	acme_dns cloudflare {file./run/secrets/cf_api_token}
}

(immich_vm) {
	reverse_proxy 10.28.2.50:80
}

(arrs_vm) {
	reverse_proxy 10.28.2.51:80
}

*.homelab.tuyens.net {
	encode

	handle {
		abort
	}
}

pve.homelab.tuyens.net {
    reverse_proxy https://10.28.2.1:8006 {
		transport http {
			tls_trust_pool file /run/secrets/pve_root_ca
			tls_server_name pve
		}
	}
}

syncthing.homelab.tuyens.net {
	reverse_proxy 10.28.2.52:80
}

immich.homelab.tuyens.net {
	import immich_vm
}

backrest.homelab.tuyens.net {
	import immich_vm
}

prowlarr.homelab.tuyens.net {
	import arrs_vm
}

qbittorrent.homelab.tuyens.net {
	import arrs_vm
}

radarr.homelab.tuyens.net {
	import arrs_vm
}

sonarr.homelab.tuyens.net {
	import arrs_vm
}

bazarr.homelab.tuyens.net {
	import arrs_vm
}

jellyseerr.homelab.tuyens.net {
	import arrs_vm
}

jellyfin.homelab.tuyens.net {
	import arrs_vm
}

cleanuparr.homelab.tuyens.net {
	import arrs_vm
}

profilarr.homelab.tuyens.net {
	import arrs_vm
}
